style {
    image-gallery=display: flex;
    gap: 35px 50px;
    flex-wrap: wrap;
    justify-content: space-around
}

h1 {
    color: whitesmoke;
    text-align: center;
    font: italic
}

body {
    background-color: black;
    color: white;
}

h3 {
    text-align: center;
    text
}