style {
    image-gallery=display: flex;
    gap: 35px 50px;
    flex-wrap: wrap;
    justify-content: space-around
}

h1 {
    color: whitesmoke;
    text-align: center;
    font: italic
}

body {
    background-color: black;
    color: white;
}
h3{
    text-align: center;
    border: solid 12px;background-color: #4b5050ce;
    border-radius: 25px;
    padding: 80px
    margin: 60vh;


    
}


